body
{width: 100%;
height: 100%;
margin: 0%;
}

header
{
	display: flex;
	justify-content: flex-end;
}
.connexion
{
	border: 3px blue solid;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
	background-color: blue;
	color: white;
}
.element
{
	text-decoration: none;
	color: black;
}
.element:hover
{
	text-decoration: underline;
}
#logo
{
	width: 300px;
}
article
{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	top: -80%;
	transform: translateY(80%);
}
#text
{
	border-radius: 10px;
	border-style: solid;
	width:350px;
	display:flex;
	justify-content:center;
}
#boutons
{
	width: 300px;
	display: flex;
	justify-content: space-around;

}
input[type=button]
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border-radius: 2px;
	font-size: medium;
	background-color: grey;
}

footer
{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
.totor {
	display: flex;
	justify-content: space-between;
	height: 40px;
	background-color: #a9c8f4;
	border-top: 1px solid blueviolet;
}
.left
{
display: flex;
justify-content: space-between;
width: 35%;
text-decoration: none;
align-items: center;
}
.right
{
	text-decoration: grey none;
	display: flex;
	justify-content: space-between;
	width: 32%;
	align-items: center;
}